@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');


body{
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #002aff 0%, #15151b 90%);

}
p{
    color: aqua;
}
.nav-link{
    color: aqua;
}
.navbar-nav .nav-link.active{
color: rgb(151, 165, 165);
}
.navbar-brand img{
    width: 40px;
}
.navbar-toggler{
    background-color: rgb(151, 165, 165);  
}
.card{
    box-shadow: 13px 15px 17px 1px #000000;
    color: aqua;
    background: linear-gradient(270deg, #002aff 0%, #15151b 90%);
}
.sidebar{
    color: aqua; 
    background: linear-gradient(270deg, #002aff 0%, #15151b 90%);
}
.card a{
    text-decoration: none;
    color: aqua;
}
footer,
.btn-outline-primary{
    background: linear-gradient(270deg, #002aff 0%, #15151b 90%);
}
.slide-text,
.footer-text{
    color: aqua;
    margin: auto auto;
}
.media-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-anim{
    animation: call 2s ease-out 0s infinite alternate forwards;
}
@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}